apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ${component.custom-spark.name}-subscription
spec:
  channel: alpha
  name: radanalytics-spark
  source: operatorhubio-catalog
  sourceNamespace: olm
